

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>售后审核</title>
    <link rel="stylesheet" type="text/css" th:href="@{/content/easyui-1.4.3/themes/metro/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/easyui-1.4.3/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/easyui-1.4.3/themes/icon.css}"/>
    <script th:src="@{/content/easyui-1.4.3/jquery-1.7.1.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/jquery.cookie.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/jquery.easyui.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/content/js/layout.js}"></script>
    <script th:src="@{/scripts/plugin/datepicker/WdatePicker.js}"></script>
    <script th:src="@{/scripts/plugin/jquery.easyui.extend.js}"></script>
    <script th:src="@{/scripts/plugin/jquery.form.js}"></script>
    <script th:src="@{/scripts/common/XSLibrary.js}"></script>
    <script th:src="@{/scripts/bussiness/storeProfile/storeProductReturnAudit.js}"></script>

    <style type="text/css">
        .webuploader-pick {
            width: 80px;
            height: 22px;
            border: 1px solid #46b6de;
            border-radius: 3px;
            background: #46b6de;
            color: #fff;
            text-align: center;
            line-height: 22px;
            float: left;
        }

        .upload-btn input, .upload-btn label {
            display: none;
        }

        .uploadpic img {
            max-width: 125px;
            max-height: 140px;
            display: block;
            padding-left: 80px;
            padding-top: 10px;
        }

        .upload-progress {
            display: none;
        }

        .product-img-box-btn {
            margin-right: 10px;
            color: blue;
        }

        #GgtDetails img {
            max-width: 600px;
            max-height: 200px;
        }

        .validatebox-invalid {
            border-width: 1px;
        }

        .textbox {
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }
    </style>
</head>
<body>
<div class="place xs-form-nav">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="javascript:">售后管理</a></li>
        <li><a href="javascript:" id="navthis" runat="server">审核售后</a></li>
    </ul>
</div>
<div class="xs-form-main">
    <div class="xs-form-table">
        <div id="formTable">
            <div title="售后详情" style="padding: 10px" >
                <ul class="xs-forminfo" id="productInfo">
                    <li>
                        &nbsp;
                    </li>

                    <li>
                        <label class="tdtitle">售后单号</label>
                        <label th:text="${dto !=null?dto.storeRefundNo:''}"></label>
                        <input type="hidden" id="txtStoreAfterSaleID" name="storeAfterSaleID" th:attr="value=${dto !=null?dto.storeRefundNo:''}" />
                        <input type="hidden" id="txtStoreAfterSaleNO" name="storeRefundNo" th:attr="value=${dto !=null?dto.storeRefundNo:''}" />
                        <input type="hidden" id="txtOrderID" name="orderNo" th:attr="value=${dto !=null?dto.orderNo:''}" />
                    </li>
                    <li>
                        <label class="tdtitle">申请时间</label>
                        <label id="applyTimes" th:text="${#dates.format(dto.tmAfterSale, 'yyyy/MM/dd HH:mm:ss')}"></label>

                    </li>
                    <li>
                        <label class="tdtitle">状态</label>
                        <label id="afterSaleStatusCode" name = "status" th:text="${dto !=null?dto.statusName:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">仓库</label>
                        <label id="warehouseName" th:text="${dto !=null?dto.warehouseName:''}"></label>
                        <input type="hidden" id="warehouseId" name="warehouseId" th:attr="value=${dto !=null?dto.warehouseId:''}" />
                    </li>
                    <li>
                        <label class="tdtitle">门店</label>
                        <label id="storeCode" th:text="${dto !=null?dto.storeCode:''}"></label>
                        <label id="storeName" th:text="${dto !=null?dto.storeName:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">商品</label>
                        <label id="productId" th:text="${dto !=null?dto.sku:''}"></label>
                        <label id="productName" th:text="${dto !=null?dto.productName:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">供应商</label>
                        <label id="vendorCode" th:text="${dto !=null?dto.vendorCode:''}"></label>
                        <label id="vendorName" th:text="${dto !=null?dto.vendorName:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">原始订单</label>
                        <label id="orderNo" th:text="${dto !=null?dto.orderNo:''}"></label>

                    </li>
                    <li>
                        <label class="tdtitle">订单订货数量</label>
                        <label id="shipmentQty" th:text="${dto !=null?dto.shipmentQty:''}"></label>
                    </li>

                    <li>
                        <label class="tdtitle">精品日期</label>
                        <label id="tmActivity" th:text="${#dates.format(dto.tmActivity, 'yyyy-MM-dd')}"></label>
                    </li>
                <!--
                    <li>
                        <label  class="tdtitle">订单订货数量</label>
                        <label id ="shipmentQty" th:text="${dto !=null?dto.shipmentQty:''}">></label>
                    </li>
                    <li>
                        <label class="tdtitle">售后图片</label>
                        <label >
                            <span th:if="${dto.afterSalePicture1Url}"><img id="afterSalePicture1Url"  th:src="@{${dto.afterSalePicture1Url}}" style="width:60px;height:60px" th:onclick="'XSLibray.pigshow(\''+${dto.afterSalePicture1Url}+'\')'" /></span>
                            <span th:if="${dto.afterSalePicture2Url}"><img id="afterSalePicture2Url" th:src="@{${dto.afterSalePicture2Url}}" style="width:60px;height:60px" th:onclick="'XSLibray.pigshow(\''+${dto.afterSalePicture2Url}+'\')'" /></span>
                            <span th:if="${dto.afterSalePicture3Url}"><img id="afterSalePicture3Url" th:src="@{${dto.afterSalePicture3Url}}" style="width:60px;height:60px" th:onclick="'XSLibray.pigshow(\''+${dto.afterSalePicture3Url}+'\')'" /></span>
                        </label>
                    </li>
                    <li>
                        <label class="tdtitle">售后原因</label>
                        <label id="afterSaleReason" th:text="${dto !=null?dto.afterSaleReason:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">售后时效</label>
                        <label id ="afterSalePeriod" th:text="${dto !=null?dto.afterSalePeriod:''}"></label>
                    </li>
                    -->
                    <li>
                        <label class="tdtitle">每份供应商货款</label>
                        <label id ="singleVendorAmt" th:text="${dto !=null?dto.singleVendorAmt.amount:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">每份平台服务费</label>
                        <label id ="singleServicesFeeAmt" th:text="${dto !=null?dto.singleServicesFeeAmt.amount:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">每份门店提成</label>
                        <label id ="singlesStoreAmt" th:text="${dto !=null?dto.singlesStoreAmt.amount:''}"></label>
                    </li>
                    <li>
                        <label class="tdtitle">商品售价</label>
                        <label id ="productPrice" th:text="${dto !=null?dto.productPrice.amount:''}"></label>
                    </li>
                    <li>
                        <input name="radiobutton" type="radio" value="0" id="radio1" checked="checked"/><label for="radio1">审核通过</label>
                        <input name="radiobutton" type="radio" value="1" id="radio2"/><label for="radio2">驳回</label>
                    </li>
                    <li class="auditLi">
                        <label class="tdtitle">售后数量<b>*</b></label>
                        <input id="txtFirstCheckNum" name="firstCheckQty" style="width: 50px" class="easyui-validatebox easyui-numberbox" placeholder="请填写售后数量" type="text" data-options="required:true,min:0,max:99999,precision:0" maxlength="10" />
                        <input id="txtFirstCheckRemark" name="firstCheckRemark" style="width: 142px" class="easyui-validatebox" placeholder="请填写售后数量说明" maxlength="50" type="text" data-options="required:true,validType:['valueStrTwo','minLenFormat[1]','maxLenFormat[50, true]'],tipPosition:'bottom'" />
                    </li>
                    <li  class="auditLi">
                        <label class="tdtitle">售后类型<b>*</b></label>
                        <select id="ddlFirstCheckReasonTypeCode" name="firstCheckReasonType"  class="easyui-combobox" style="width: 212px" data-options="editable:false">
                            <option value="">--请选择--</option>
<!--
                            <option value="1" >物流少货</option>
                            <option value="2" >供应商少货</option>
                            <option value="3" >商品质量不满意</option>
                            <option value="4" >商品严重质变</option>
                            <option value="5" >商品款式\颜色\尺码不满意</option>
                            <option value="6" >商品重量不足</option>
                            <option value="7" >商品包装不满意</option>
                            <option value="8" >商品日期不满意</option>
                            <option value="9" >重复下单，取消订单</option>
                            <option value="10" >实物与信息描述不符合</option>
                            <option value="11" >无理由退货</option> -->
                            <option th:each="type: ${list}" th:text="${type.remark}" th:value="${type.dictValue}" ></option>
                        </select>
                        <input id="cFirstCheckReasonTypeText" name="cFirstCheckReasonTypeText" class="easyui-validatebox easyui-validatebox" placeholder="其它原因,限15个字"   type="text" data-options="required:true,validType:'length[1,15]',tipPosition:'bottom'" maxlength="15" />

                    </li>
                    <li  class="auditLi">
                        <label class="tdtitle">供应商货款<b>*</b></label>
                        <input id="txtFirstCheckPayAmount" name="firstCheckVendorAmt" class="easyui-validatebox easyui-numberbox" placeholder="请填写供应商货款" type="text" data-options="required:true,min:0,max:99999,precision:2" maxlength="10" />

                    </li>
                    <li  class="auditLi">
                        <label class="tdtitle">平台服务费<b>*</b></label>
                        <input id="txtFirstCheckServicesFeeAmount" name="firstCheckServicesFeeAmt" class="easyui-validatebox easyui-numberbox" placeholder="请填写平台服务费" type="text" data-options="required:true,min:0,max:99999,precision:2" maxlength="10" />

                    </li>
                    <li  class="auditLi">
                        <label class="tdtitle">门店提成金额<b>*</b></label>
                        <input id="txtFirstCheckCommissionAmount" name="firstCheckStoreAmt" class="easyui-validatebox easyui-numberbox" placeholder="请填写门店提成金额" type="text" data-options="required:true,min:0,max:99999,precision:2" maxlength="10" />

                    </li>
                    <li  class="auditLi">
                        <label class="tdtitle">合计<b>*</b></label>
                        <input id="txtFirstCheckSumAmount" name="firstCheckSumAmt" class="easyui-validatebox easyui-numberbox" placeholder="请填写合计"  readonly="readonly"  type="text" data-options="required:true,min:0,max:99999,precision:2" maxlength="10" />

                    </li>

                    <li>
                        <label class="tdtitle" id="lbFirstCheckDesc">审核留言</label>
                        <textarea id="txtFirstCheckDesc" name="firstCheckDesc"  class="easyui-validatebox inputTextWidth360" style="height: 150px;" placeholder="留言" data-options="validType:['valueStrTwo','minLenFormat[2]'],tipPosition:'bottom'" maxlength="128"></textarea>
                    </li>

                    <li>
                        <label class="tdtitle"><b></b></label>
                        <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保 存</a>
                        <a id="btnClose" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="xsjs.pageClose()">关 闭</a>
                    </li>


                </ul>
            </div>



            <div title="跟踪" style="padding: 10px;">
                <ul class="xs-forminfo" id="productImageInfo">
                    <li>
                        &nbsp;
                    </li>

                    <li>
                        <label >售后划付单号：</label>
                        <label id="servicesFeeTransferNO"></label>

                        <label >&nbsp;&nbsp;&nbsp;&nbsp;售后划付状态：</label>
                        <label id="servicesFeeTransferStatus" ></label>
                    </li>
                    <li>

                    </li>
                    <li>
                        <label>货款划付单号:</label>
                        <label id="payTransferNO" ></label>

                        <label >&nbsp;&nbsp;&nbsp;&nbsp;货款划付状态：</label>
                        <label id="payTransferStatus" ></label>
                    </li>

                    <!--<li>-->
                        <!--<label >门店提成划付单号：</label>-->
                        <!--<label id="commissionTransferNO" ></label>-->

                        <!--<label  >&nbsp;&nbsp;&nbsp;&nbsp;门店提成划付状态：</label>-->
                        <!--<label id="commissionTransferStatus" ></label>-->
                    <!--</li>-->

                </ul>
                <div style="height: 100%;" id="Track">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
