<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>门店日结算详情</title>
    <link rel="stylesheet" type="text/css" th:href="@{/content/easyui-1.4.3/themes/metro/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/content/easyui-1.4.3/themes/icon.css}"/>
    <script th:src="@{/content/easyui-1.4.3/jquery-1.7.1.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/jquery.cookie.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/jquery.easyui.js}"></script>
    <script th:src="@{/content/easyui-1.4.3/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/scripts/common/XSLibrary.js}"></script>
    <script th:src="@{/scripts/plugin/export-Excel/Blob.js}"></script>
    <script th:src="@{/scripts/plugin/export-Excel/FileSaver.js}"></script>
    <script th:src="@{/scripts/plugin/export-Excel/exportExcel.js}"></script>
    <script th:src="@{/scripts/bussiness/daySettlement/storeDaySettlementList.js}"></script>
    <script type="text/javascript">
        var toolbarArray = new Array();
        toolbarArray.push({
            action: "导出",             //必填（导出 或 export）
            url:contextPath+ "/daySettlement/excelStoreDaySettlementList?settleDate=" + xsjs.SerializeURL2Json().settledate   //必填  下载地址
        });
    </script>
</head>
<input id="settleDate"  th:value="${settleDate}"  type="hidden">
<input id="areaId"  th:value="${areaId}"  type="hidden">
<body>
<div>
</div>
</body>
</html>
